:root {
  --tw-gradient-from: #e96443;
  --tw-gradient-to: #904e95;

  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(233, 100, 67, 0));
}
.header {
  background-image: linear-gradient(90deg, var(--tw-gradient-stops));
}

.button-lang {
  padding: 0;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 100%;
  display: flex;
  align-items: center;
  margin-right: 25px !important;
}

.button-lang img {
  margin-right: 5px;
}

.button-tog {
  margin-left: 15px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 2px solid white;
  background-color: #34d399;
  color: white;
}

.link-top {
  margin-right: 15px;
  font-size: 18px;
  font-weight: 500;
}

.button-call {
  margin-left: 10px;
  padding: 8px 5px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 5px;
  color: white;
  font-weight: 500;
}

.input-search {
  width: 522px;
  height: 50px;
  padding: 14px 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 2px solid white;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border: 6px solid transparent;
}

.search-button {
  width: 74px;
  height: 50px;
  background-color: #eb1537;
  border: 2px solid white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: 50px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav{
  display: block !important;
}
.sitenav--fixed {
  background-color: white;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  padding-left: 110px;
  padding-right: 50px;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.50);
}

.sitenav--fixed button {
  border: 2px solid black !important;
  color: black !important;
  background-color: black;
}

.sitenav--fixed svg {
  fill: red !important;
  height: 22px !important;
}

.sitenav--fixed .logo-img-white {
  display: none;
}

.sitenav--fixed .logo-img-red {
  display: block !important;
}

.sitenav--fixed .input-search {
  border: 2px solid black;
}

.sitenav--fixed p {
  color: black !important;
  font-weight: 600;
}

.sitenav--fixed .list svg {
  width: 24px;
  fill: black !important;
}

