* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 /* transition: all 0.3s ease-in-out; */
 font-family: "Raleway", sans-serif;
}
body {
 overflow-x: hidden;
}

.brands *,
footer * {
 transition: all 0.3s linear;
}

a {
 text-decoration: none !important;
}

footer a {
 text-decoration: none;
 color: whitesmoke;
}

footer ul {
 list-style: none;
}

footer ul.info li,
footer ul.about li {
 width: 50%;
}

footer ul.info,
footer ul.about {
 display: flex !important;
 flex-wrap: wrap;
}

footer a:hover {
 color: grey;
}

footer ul.about a:hover {
 color: crimson;
}

footer div.cards img {
 width: 100%;
 height: 25px;
}

.carousel,
.carousel * {
 background-color: none !important;
}

img.rounded {
 border-radius: 20px !important;
 background: none !important;
}

footer .cards img {
 object-fit: contain;
}

footer .cards div.rounded {
 border-radius: 10px !important;
}

.catalog .swiper-pagination-bullet {
 display: none !important;
}

span.swiper-pagination-bullet-active {
 background: red !important;
 transform: scale(1.5);
}

.swiper-button-prev,
.swiper-button-next {
 width: 32px;
 height: 32px;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 border: 2px solid #000 !important;
 outline: 1px solid #000 !important;
 font-weight: bold;
 background: #fff;
}

.swiper-button-prev::after,
.swiper-button-next::after {
 transform: scale(0.2);
 color: crimson;
}

.brands .cards {
 width: 14% !important;
}

@media (max-width: 992px) {
 .brands .cards {
  width: 20% !important;
 }
}

@media (max-width: 768px) {
 .brands .cards {
  width: 25% !important;
 }
}

@media (max-width: 576px) {
 .brands .cards {
  width: 33% !important;
 }
}

@media (max-width: 480px) {
 .brands .cards {
  width: 50%;
 }
}

.brands .cards .card {
 border-radius: 20px !important;
 cursor: pointer;
}

.brands .cards .card:hover img {
 transform: scale(1.2);
}

.page-item.active button {
 background: crimson !important;
 border: 1px solid crimson !important;
 color: #fff;
}

ul.pagination {
 border-radius: 40px;
 background: #e5e7eb;
}

ul.pagination button {
 background: #e5e7eb;
 color: #000;
 border: 0;
}

li[role="menuitem"] {
 display: none !important;
}
li[aria-label="Go to previous page"],
li[aria-label="Go to next page"] {
 display: none !important;
}

ul.pagination li:first-child {
 display: none !important;
}

ul.pagination li:last-child {
 display: none !important;
}

.max-width {
 max-width: 98%;
 margin: auto;
 border: 1px solid red;
}

section.container {
 transform: scale(1.1) !important;
}

svg.rotate-180 {
 transform: rotate(180deg);
}

button {
 outline: none !important;
}

button:focus {
 outline: none !important;
}

#fixed {
 position: fixed;
 right: 15px;
 bottom: 15px;
 width: 70px;
 height: 70px;
 z-index: 99999;
 cursor: pointer;
}
